@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden font-Montserrat;
}

section {
  contain: content;
}

.highcharts-background {
  @apply fill-none;
}

.highcharts-credits {
  @apply hidden;
}

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .resources-sticky-bar-scrolled {
    @apply bg-gray-50 shadow-md;
  }

  .resource-center-sticky-btn.active {
    @apply bg-gray-900 text-white;
  }

  .form-wrapper form {
    @apply flex w-full flex-col;
  }

  .form-wrapper .form-row {
    @apply flex flex-wrap justify-between gap-4 sm:flex-col md:flex-row;
  }

  .form-wrapper .form-input {
    @apply flex flex-1 flex-col gap-1;
  }

  .form-wrapper .form-input.form-check {
    @apply flex flex-row;
  }

  .form-wrapper input[type='text'],
  .form-wrapper select,
  .form-wrapper textarea {
    @apply border border-solid border-gray-300 px-2 py-3 shadow-xs;
  }

  .form-wrapper input[type='checkbox']:not([role='switch']),
  .form-wrapper input[type='radio'] {
    @apply relative h-4 w-4 shrink-0 appearance-none border border-gray-500 bg-white checked:border-primary-600 checked:bg-primary-25 focus:outline-none focus:ring-1 focus:ring-green-400 focus:ring-offset-0;
    @apply after:absolute after:flex after:h-3 after:w-3 after:items-center after:justify-center after:fill-primary-600;
  }

  .form-wrapper input[type='radio'] {
    @apply rounded-full after:bottom-[-2px] after:left-[1px] checked:after:content-radio;
  }

  .form-wrapper input[type='checkbox'] {
    @apply after:bottom-0 after:left-[1px] checked:after:content-check;
  }

  .form-wrapper input[role='switch'] {
    @apply relative mr-2 mt-[0.3rem] h-4 w-8 appearance-none rounded-full bg-primary-50 checked:bg-primary-600 hover:cursor-pointer;
    @apply before:pointer-events-none before:absolute before:h-4 before:w-4 before:rounded-full before:bg-transparent before:content-[''];
    @apply after:absolute after:top-[2px] after:z-[2] after:ml-[1px] after:h-3 after:w-3 after:rounded-full after:border-none after:bg-white after:transition-all after:duration-300 after:ease-in-out after:content-[''];
    @apply checked:after:ml-[1.1rem] checked:after:content-[''];
  }

  @supports selector(::-webkit-scrollbar-thumb) {
    .form-wrapper input[type='range'] {
      @apply w-full cursor-pointer appearance-none bg-transparent;
    }

    .form-wrapper input[type='range']::-webkit-slider-runnable-track {
      @apply h-2 bg-gray-200;
    }

    .form-wrapper input[type='range']::-webkit-slider-thumb {
      @apply -mt-2 h-6 w-6 appearance-none rounded-full border border-solid border-primary-600 bg-white shadow-sm;
    }
  }
  .form-wrapper label {
    @apply text-sm font-semibold text-gray-700;
  }

  .form-wrapper button {
    @apply w-full bg-yellow-400 px-2 py-1 text-md font-semibold text-gray-900 hover:bg-yellow-500 focus:border-green-300 disabled:cursor-not-allowed sm:px-4 sm:py-2 md:px-5 md:py-4 lg:px-6 lg:py-5 lg:text-lg;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }
}
